@import '../../styles/global.scss';

.meusFilmes {
    padding: 5rem 0;

    h1 {
        margin-bottom: 3rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
            display: flex;
            justify-content: space-between;

            border: 1px solid;
            border-radius: 7px;
            padding: 1rem;

            transition: all .3s ease-in-out;

            span {
                font-weight: 700;
            }
            div {
                a {
                    color: $azul;

                    margin-right: 1rem;
                }
                a:hover {
                    text-decoration: underline;
                }
                button {
                    font-weight: 600;

                    padding: .5rem .7rem;
                    border-radius: 5px;

                    transition: all .4s ease-in-out;
                }  
                button:hover {
                    background-color: $preto;
                    color: $white;
                }              
            }

            &:hover {
                transform: scale(1.01);
            }
        }
    }
}

@media screen and (max-width: 597px) {
    .meusFilmes {
        ul {
            li {
                flex-direction: column;
                gap: 1rem;

                div {
                    text-align: right;
                }
            }
        }
    }
}