@import '../../styles/global.scss';

.container-filme {
    padding: 5rem 0;
}

.container-filme h1 {
    margin-bottom: 1.5rem;
}

.container-filme .capa-filme {
    margin-bottom: 2rem;
    border-radius: 10px;
}

.container-filme .info-filme {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem
}

.container-filme .info-filme .text {
    max-width: 70rem;
}
.container-filme .info-filme .text h2 {
    margin-bottom: 1.5rem;
}
.container-filme .info-filme .text p:not(:last-child) {
    margin-bottom: 2rem;
}
.container-filme .info-filme .text .generos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}
.container-filme .info-filme .text .generos .genero {
    background-color: $gray;
    color: #fff;
    font-weight: 400;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
}

.container-filme .info-filme .poster {
    max-width: 28rem;
    text-align: right;
}
.container-filme .info-filme .poster img {
    border-radius: 10px;
}
.container-filme .info-filme .poster span {
    font-weight: 700;
}

.info-filme .text .area-butoes {
    margin-top: 3rem;

    display: flex;
    justify-content: space-between;
    gap: 1.2rem;

    button, a {
        width: 100%;
        background-color: #F0F0F0;
        padding: 1rem 1.2rem;
        border-radius: 5px;

        font-size: 1.8rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;

        transition: all .3s;
    }
    button {
        background-color: $azul;
        color: $white;
    }
    button:hover {
        background-color: #6b9ddd;
        color: $preto;
    }
    a:hover {
        background-color: $gray;
        color: $white;
    }
}



@media screen and (max-width: 1080px) {
    .container-filme .info-filme {
        gap: 7rem;
    }
}

@media screen and (max-width: 670px) {
    .container-filme .info-filme {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .container-filme .info-filme .poster {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .container-filme {
        padding: 4rem 0;
    }
}