/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}
/* RESET */


/* GLOBAL */
$preto: #000;
$white: #F0F8FF;
$azul: #116FEB;
$gray: #6e6e6ed5;

html {
  font-size: 62.5%; /* Pra usar rem divisivel por10*/
}
@media screen and (max-width: 480px) {
  html {
      font-size: 55%;
  }
  /* h1 {
      font-size: 3.637rem; Pra manter h1 em 32px/
  } */
}

body {
  font-size: 1.6rem; /* Pra garantir q o padrao seja 16px no navegador*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* GLOBAL */


/* GRID */
.grid {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  
  padding: 0 20px;
}
@media screen and (max-width: 480px) {
  .grid {
    padding: 0 15px;
  }  
}
/* GRID */